@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  color: #333333;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  background-image: url("./assets/pokemon-support-buddy-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.landing-heading {
  color: #3b4cca;
  font-weight: 800;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 0 #ffcb05, 4px 4px 0 #ffcb05, 4px 4px 0 #ffcb05;
}

.select-screen h2 {
  color: #3b4cca;
  font-weight: 800;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 0 #ffcb05, 4px 4px 0 #ffcb05, 4px 4px 0 #ffcb05;
}

.landing-text {
  font-size: 26px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

button,
.submit-button {
  background-color: #3b4cca;
  border: none;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
}

button:hover,
.submit-button:hover {
  background-color: #51b9e0;
}

.hint {
  margin-bottom: 25px;
}

.landing-screen,
.select-screen,
.random-screen {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.08);
  margin-top: 80px;
  max-width: 500px;
  width: 100%;
}

.landing-screen,
.quote-generator-form,
.select-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-screen button,
.submit-button,
.select-screen button {
  margin-bottom: 25px;
  display: block;
  width: 100%;
}

.pokemon-input {
  padding: 12px;
  border: 2px solid #3b4cca;
  width: 100%;
  font-size: 22px;
  border-radius: 50px;
  line-height: 20px;
  color: #1e1e1e;
  font-family: inherit;
  background-color: #f7f7f7;
}

.hint {
  margin-top: 5px;
  font-size: 16px;
  color: #5a5a5a;
  letter-spacing: 1px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: #ffffff;
}

a {
  color: #ffffff;
}
